<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<handlers>
            <add name="pythonFastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\python310\Scripts\wfastcgi.exe" resourceType="Unspecified" requireAccess="Script" />
            <add name="pythonExe" path="*.py" verb="*" modules="CgiModule" scriptProcessor="&quot;E:\python310\python.exe&quot; %s %s" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <defaultDocument>
            <files>
                <add value="app.py" />
            </files>
        </defaultDocument>
    </system.webServer>
	<appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot" />
  </appSettings>
</configuration>
