<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="/hdd/2/load/0/plot" value="false" />
    <add key="/hdd/3/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="666" />
    <add key="mainForm.Location.Y" value="110" />
    <add key="mainForm.Width" value="806" />
    <add key="mainForm.Height" value="800" />
    <add key="/hdd/3/load/0/values" value="H4sIAAAAAAAEAPNcvkhhfcddj6DFy5zW9U93ZwACEBsAUI+g/hgAAAA=" />
    <add key="/hdd/2/load/0/values" value="H4sIAAAAAAAEABMuWaSwvuOux3bXv45PDk13ZwCC6e5/HQEtlgHZGAAAAA==" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEABMuWaSwvuOuB0Msn/2TQ9PdGUAAyAYAMY2T7hgAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEABMuWaSwvuOux4/VE5yeHJruzgAEIDYAvbNVlBgAAAA=" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEABMuWaSwvuOuBwODjNOTQ9PdGcBAxgkAhT8k1BgAAAA=" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEAPsRkpKzuuOuBwODmO2ulcVMDGAgZntLPQXKPmGTklAOZXvYWCdUwNkFIRZw9SXLXWDitowXq6FsBgbm6elwc5R+TYDrvRzBBdcrllacxgxmH/gfb7uaEcxMYLPnVPWDqHE4Z3e2PI0JJl4wJxzCPsBvL7Y0C8Ju4LSvr4G6ueGt3epjMXC2k0gi1K6HdkfrkqHsX3ZmRZVQNUp29476Qu1ito95Ews139GeOT4Tyv5sV61WClW/2+7Ody+4+t06ULsOaNj//pQCV58QlAFVs9Uu/nowhK1gZK97oQiu96xDAix87BakR8LVO5+GuvOBtr0KSwMs3OyOLIOFyXO7+O1JULapfeOVOLgfmQtqoe7stOsp8ISLt1nB4jHRzvkq1JwDK+yMZsDcMM1OOB0avw1X7BKPO8P927VsElz9j/1m0LgItH93uBAWhvYnf+XB1XjP9YO74RxzIjy+lvulwt3zaTE0PB2a7dbf9Iay59gt+1QFVX/Q7r4/zA2c9jzroHodZOwnX06Eq9m7F5o2Dtyy25ibBHdzvGkZnB1d5QF1c5b9ceMkePh/Coe6OUHe/oULIl48/d3gaYPVPxfqZn37sJh4ePp5Zt0HYS/gsXcrdIaHrd+HALiZTdIZcL9LMUbD0/C0BVAzF6ja35sbChdXmpwBTw9MFfFwvYuPZ8DNBABBI/eUtAMAAA==" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEADPstclZ3XHXg4GhyjbqZQ8TAxiI2Woa2kLZJ2wiud6zwNgZtoFQcQ+bmT6eMLbtX7Y4OPuzUhrcnJ6XE+HsumVGcDVifE1pzGD2gf9mB6YzgpkOpvbnbsZA1BzQsJ+xCcp2OGf3cU0SlL3V7kN5CsxtdpOboqDs9XZR89Pg4m2WyXD1B5Vi4eboc5VA2c32MruCmGD2hrKmwt2m8yERzhaJzIawEyzskzJC4eabLUyCq3ktkQo3/ysLNBweaNtr306A6mWzd7yRC9ebBlPTYG0vzwt1/wI7+299CDOP38iCsAW67R0Pp8Hd4IBkb1pNFNzMPevKoGx9+8szQ6Dm77YTyYfa29Bp/2tdBNxt5YxRcL/f+VYJN2f9Sz842+BnJtxtXxyj4H7MepkJd8/++Fy4OS/7A+Hss21pcHfO/pQJj4tzLukQtoKRvfAaRHg+fJcKV/NqZiRcL/eiLDg7Ux/h31iBDLj6iPIkuN8vVuTA3eB6LAiu91dZElyvA2cmXLxYG2HOH+FguL8k/BH2HtJMgbMXVqfBw6SXJR7C3tBoH7UiFq4mqD4Dbhf/hwh4uK3OQpjJdS4eHkcLqpLhbv5yBpG2OQ4i4hoAtgtpR6gDAAA=" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAD2Se0hTYRjGVxLSCqObhCAESZAZCpmmWD1ljoouC/LWJjrbtNlMmiFFKkWlg1V0kYrK0s2ds7OdHTe1AqkQ0wqDKBIn5lpEZCSpIZKmZPN7T52/fufl+Z73uldINrktgV1dEx4E6gvnK0Jf4kYfRjuIn0/4EP9Mx7i13gdTFPG1TglNcXrGvfskDJWT/ne1B5v9xEs2NGPhIdLnpDTDkkL68HOtUKsK5LgXL/3WorC5H0XHbOfa2nlztCDLiVeTR5hmp1XC2SzyuZkuYlCZx3j5eQ9mVhkZ2zIcUAW1jO91CTAkGhi373bgRiT5ZEVIyBPprSVSgrqqiLH6sgDX93zGqW12pD+kt5dMjehPoLzXf/AIpBKPVHLQz1L9MwKPShdxfrsdHEe9d69uwXg06VdKIhz9BXIvbqR9Pcr423Qbjq/JZRyrdcL8Wi/PvBEfb5FPzbAN2UryWZrjxHRrCeMx3o1gHWmqttnRXU71v/3FI81bzLjvlICLNdR79GEXwsZJH/NBgHUFxfm7HEpUGsZxtaF5hpN/T4WIM7ocxseecAheodq8Zg660+RztdMJS0ShnMuB2wraxSK/CNt66vfTAREnmorkXnx494XyKv1eDFf9m5UXZVNUv0bvwoMMim9RSnhxgfb1eNyNyDvUl8/chOQgxUuHQrveQfMcnPKgu0f3n7M1xPEBAZlJpE8L8jC3kP/AGw/eVxvlexBhDaeaVY9EjCzWyjsNaeqM8l3dR0kMzcGe4cPnMY18zzwqBijX9k0iknLJv2yZB32xNM8/vS6sGyV9QxSHPcZiuU4RkxbSB2JEZP4kfnrSAcNBuo2tygYM7S+V87rxF6pgQba0AwAA" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAPNZaZ6zuuOuBwPDAVfu5uviDGBwwNUlsTONGcL+7zq3kxEmXqOcNhfGBgASE5nhPAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAPNZaZ6zuuOuBwODkTN383VxBjAwcnZJ7ExjBrMP/Hed28kIE69RTpsLYwMA1f2JRzwAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAPNZaZ6zuuOuB0PBLlfu5uviDCAAZLskdqYxgzkH/rvO7WSEidcop82FsQFjMvSHPAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAPNZaZ6zuuOux+osSwfu5uviDEAAYrskdqYxgzgMB/67zu1khInXKKfNhbEBAGx/rDwAAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAPNZaZ6zuuOuBwMQcDdfF2eAApfEzjRmMOvAf9e5nYww8RrltLkwNgBTjmcnPAAAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAPNZaZ6zuuOuBwMQcDdfF2eAApfEzjRmMOvAf9e5nYww8RrltLkwNgBTjmcnPAAAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAPNZaZ6zuuOuBwMQcDdfF2eAApfEzjRmMOvAf9e5nYww8RrltLkwNgBTjmcnPAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAPNZaZ6zuuOuBwMQcDdfF2eAApfEzjRmMOvAf9e5nYww8RrltLkwNgBTjmcnPAAAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAPNZaZ6zuuOuBwMQcDdfF2eAApfEzjRmMOvAf9e5nYww8RrltLkwNgBTjmcnPAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAPNZaZ6zuuOuB2PDKWfu5uviDEAAYrskdqYxgzgMB/67zu1khInXKKfNhbEB0SEBaTwAAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAPNZaZ6zuuOuBwPDNGfu5uviDGAwzdklsTONGcw+8N91bicjTLxGOW0ujA0AcpQnFzwAAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAPNZaZ6zuuOuBwODixN383VxBjBwcXJJ7ExjBrMP/Hed28kIEXdw+nrrOTeMfW11KhOE7egUeDsJynZ2Ot8UywQzJ//IO24YW/5iPFzNq5REONvSGqbXyWnvcYR4kXkiXNzmWQYTzN485Ug4u+h0Clz9vekIN0ReiYe7oShMUhjGfqCRDXfz3+AIuDmxc1Lg4omVCHM6+JLg5qQbf4P75VcCwi8cMxHuvHQyDm5m381aExgbAPFx7wZoAQAA" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAC2SW0hUURSGh70OZVIaJko9REIJiYlp+GKR/lGkmMFYPahZao3TzIBgEWMZA5UmSmQFmlmG9VBpRA/axZSEhG4ahqllKmVlWl7CB02iy27/nafvLNZe61tr7xMPujwNpYNb/XosvK/MUTb9ZfVbmBoiJ7y1EHye7Byw0DuWZXjxBwsL4vcbHvhkYXb1XsMZ3yzYdzK+bsJCoR95fNxCbdIewzd0vO52slP+/dja/myMW2Pip9IF81t2G47yCNSjdMPzdlkoT6TDpSwL9b5cw6EjAvubPMMpNYK5wH2GN/1QsG1n/sxvhQEbOWxEIbyWXNKjENLL+tmdCtUnWdM7pDA96zCcM63g25BtuFIJapo5y5EgweRxnn28TXCskXPlPxX4R9JhWZcgL9pleMkzgbuZ+yk8I8gM4YxVCYLWNPpMrhSEvTxAnlRwXWf9y/UKZQ7m2J4rjE7QITdbcNRJ53aHIGaa8agCwbU29vL6BKHhrLm+RNB4kLMElQny4+jcd07gekdnr95hcjJ7fU8RzLTSwR0oGL7CXqPDCtGRzPnVp5AY4DGcOqcwGJNp2K9YEL2IfbuvCl7fY354nSDWTQfPBUFxDXnHRUFgE3MOVQtOV/GNrdU8djjD8Fmd7+/gXd+sFRTGOg0v1BzQTzel/TuWc/Zg3XfFLZ6NeCKQAMbtH/X+Z+hc8EUw+/P/rjoFS5M4b0W7wONk/YqHuuYq9o25K9iSR7fuFkGBl85fuwWpm7nPz5qLy5k/+ErgK6JDwwtBWiJ3cl/7xNrYd6RDMBXPOkWl+mwG7yLijsJfjH+sR5wDAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAC2STUhUYRSGR4V+LMcEUQqSjBoQzERrQGyod2E6A1n4k5Jjo5Y615nvm3tHKC1DKgXxZzZCYpIZZtKvLUZE0XQRtREpConSEDfpwgQLJ2lR0/d2V889nHvOc865t8ffeZ+2LeYtCQ1Ld6oiTeGnrVTD+ldyRLmG+G5y5TkN86sXFb+yadiZXa04kKYhlFKhuDteQ0Ex42kxGhp3kM+YNfTbXYpduzQ8eOFwR/17Mc38OWk9ouLLJT5snyxX7IjzIXL6guJvmgcdoEMg14MnzZcUP0oRKPhUq/h9kcRW7GXFP5d0mM4y3/JGx4KJ3JRiwNJPXvEYSJhn/aZOA70trJmUZ2AjVKP46i8dzbZKxcNjOvomOMu+Bh3fb/HbH+0+3AhyrpwBgehUOvTcFKhNr1McvCfgmeB+9rdIOBM448NpH6YK6ZObpiN5TiNvM1A3zPqdiX601/y/xV0DK2t0qD/hw3U3ndcsPmRsMG7fkhicYa+k1xKJFtaMeywRrOcs470SPiudh65I1H2hc3J4hw4He50K+LA5RYeCFh3L99nLZTWQnsqc3VUGYPYqfrugYzHDyTs+l0iPYd9Rq8THMeZX2yQyPXTIr5Bo7SOPlErEjjLnqFOiq4f/mK1cYvVKmeJJl0R0DW9dlivRmOlWPGeXMH+mW6hYYjaJs7/MkjjwjN+eHxKIMjM+cUzAuUnn44cEQr8ZP9gpsNfOeWdGBLxu1p/8IDB7mH2zVgVO19ItOCfgb6BziV8gP4f79Ia5tYP5XdcEmpvoUNQtUAjuJHlQINPEvp6AwHo26+wZCO+kjLcojfDjL1Eg2rKcAwAA" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEACWSW0hUURSGp3yoBLUwFV80i6SL0uCEERLDbynqQ5YXqJzSssZJhwINyW6jllleoLB0xFJEorshGJEoCvlQJhkhIpVWQpSESc4ws/c5R8r2f56+s1h7rW+tvS+/fO98fG0q7dk2L742H1tuWvpskV7MT5MDo7xY20QeX+3FxOwRxbmLHqxKOqH4zJwH/s0FilM+eJCVy3jdiAcVK8m9bz1oT89XfO+1B53dGY6A/z+mob/WxHgVL8/XsKL/sOK7YRqWDx5SHL3bh3rQwRLtwyNXoeKqCIGsySKe3SchQ46zvqbDlMn8O9M6PpvItakGYtvJyxoMhE+wfli3gdYrrHnTbmDBb1dsDTXg2nVUcemYjrY+zuJv0PG7mmdnbmm42Mu53E0CgXF0cJUJFJmLFc/eECjp437mqyRs4ZzRNKphIJs+/VYdMe9OKu6JMVB8n/UbrYuoszNnZ7+Bn3N0eJWs4byDztY4DQkLjFcbEl1D7DUzLBERy5otDyR6yzjLdbfE6UQ6T5ZJFH+i80CmREYGe+W6NfgG6DDYqmOmg71MOQbMcczpqTKAYKfiNJ+OqQSb4s6nEuYg9vWZJcZfMN+7Q8JSQodzNomaNnJljkTIc+ZsPSDR2MI3lnJQYrY8T/G3PIlAO++6IFmiwuJQ/GePRPBHuj3cLzEaxdlDt0use8Kz390CAcGMh28QsPnoPLZGwK8zXntJIDKd8450CTgdrH/qjcDoRvb98UUgtYhuW4YFSs/Sub5QYG8K99m5xDX1zF/vFHBdoEPQVYFscCe3mwUsJvb9VSkwn8Q68R1LO8njXeRsWsQ/lKqUMJwDAAA=" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAC2Sa0jTYRjFvZDZFQPBiAoiAzOVPiRqF86IEikxb5lzzeY9bVqbEolREX0YmRURmDDJvLRNQ11eMti8rJqXsFJmpqWiXcysMK1mili+p/+n3//hvOd53vO8oYYAZZVmKORrgwlDxYlODv++/UmV6LQlCL5iN+BoJeuRszooN7DeJbuPcp9kwaVKHcazqTkTWYnAfrLdqMOKaOoDRw3QBFEfXKZDeLBCcMg9Axrys1Odl34cWhdt6ruOS9RtsiC5IklozDkWfDDQ51DiOEa+yQRv2/ke2qh0wVavARTukwveHNMOVVOKYO8tbxDxlvOErjYiIJoav2kLmtzSBLu1jaLyywnBq4qsqCnhnG7JZigP8qzimhlX13GG3rhm1D6lPkzfD6mK9U1O3QjaQ701fgjmdtYNl59AHUDWzvVh76eTgncHtSJrq1SwpNlJon7Ovr63HCXDhfTZlTgLqY29XMtn8GfilOB6ez1GblPj+f01ImOoOb2xETdceS/l5xpUHKanaswI5xnqL1qrke/ObBuzqjC5wBn0YQ+QF05/r/AqLETFCn4XtQi5lj59eS6ShFz6eAT+gGYtuTP3N+44cBePS+tQuoP79T5XC1V5quBlZXp8zGRf9VQd+n/ybJxnDeYUnL94Sg/XImZ1wceE3s54arIfQfr/XudzLVAruEd1qBHyWuZpHzDjSCY95b+qcUxGH7+zw3DWHRecmj6IlTJq1ijbUZCSIVjTa8GLafaajH4Gj+3Ul8Q+RFoBNR3aV8jwZA73L1kxNsV36K7rgv9y9srJb4N/BP3jB7uw3oV5xth74NsQx12bWhBcxpkPjNjQMsGzPsUtuH6T+bycnsd4B/PvaZpHSn+m4NgeK/4CKqPVlrQDAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAC2Se0iTYRTG1YGX0OgGholK2dIudCGd2nfO14VM0spb6VzaZuq8RpsQZpAVFp/KMkOm5SJLV5ti7Y8mBpqLsryQpo0mhA7MFNPQyohMrXxP31+/7/C8z3nec94ooyS3URiKeFtxG4fupDo5/PtMMxHQZVUwLmmrgeMNVP+IrVyuF9VDmmq4+q1pjCMrurnxfNKszw6DEBuxXbQb3OJJ32zYC0Io6Us79kN0uJyx2BIA5rL8DNHSj4Plj1V913GJBit/Y5r+NNMcjezGUSP5NMYY0f5Fxrjzax3q4rIYL2qlWAXJjNsCdqGqJZ3ytz/HmA+UZ9/OPpDEk2Z+h4AtK5SMgw1N2PD5FOPW1Bl4XEs5DanvIfcgnX2kGoXSlZRhsKgfTC9Jr51oQqmK6pdEGgzdQ/php0Zse0111ywfVEuIq0VFyI1lMh6bj8UzG6SMdeYHvLqH+g4IFn64inyaHWW81Eq9hGBv/tdEDuM55SRnrySN+YcdY0+QpqTPGctd6V4dgQWgjyTPzO2XQfSd9H6B56BsDc12Vu4HkwuUobDbAy5Ek7/3m9WwEJfIWF+QwCfryEfQF/OK8+TzxNuHF5YTt3rc5KsdaBejymK4v4X2m7hRwanqMyiDxsJ9yqO+KYvlYJuls7yiGObklH+kLoxzvUWzOnzgBQx0pTB29KwF6f97ndVOgVpOe0z66QHJJpqnmrfBsTzyLPQthQQZ+fhsqkfRw5Pks0qPy2Sk6RH7oiY9m7Gbvzv2fqNeVnyHnoGkv+fVDkoNaTa7mzDbn+bwSqzBkRl6h9NZYghyoV5Pq69CUAz5T+VM41pnmuehdVdwmzmJ9hJ1BMPrKLO5X4ftE3S2wE+B12/QfC4G9+J4J83/2cg1TLflMXbhtfgXwlZ7/rQDAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAC2SbUjTURTGl2K6VZZoTMr8olDa+hLakpQ9N3Eo9rI5da2lTds0TUtnL0pQ2AuM5jRoQy0lSS3UXsQyJDTFFLcECZlami9EaRaSWQnFzPIe/59+/8Nzn3Puc+6BBmlOk2k8tow5MF6d7ib4/70OlMDhTOMc0C5DUiPVt5uikLOF6lk9fqiT6DkPp/tgpoA0iUmp2DtCHOkKhjCR9CqREqYI0t/yFEMh13EeLJGg1VyQ4b7yI+hadhrvrlkh1zYh09ef4JpnL/vxsYF8tBu92eSclrM4dBhVqizONQlmVh6VwhmHFCy/zcD5qWEPU47RPOZ31ZAmkuabog1tmzI5XxvczRq/HOfcBDue1NCc+m4HcmLo7FSvHTd8aIbNrd1o7iH96Pnv0ORTfXTdNCL2kV5nHUJHH9WlLeEwSonnVJWInD7JOdZ2B6eDNJThspIZ+6mvbXw/mygnn3MtjGmc1Cs4KJr9nj3F2a33MiatpMnWClhCMmlMySaUedG9LLYy1MeT5+LDq3D/QXqP+3kw+1G2rjPR+LpEMzxuF+KigvyfG3yxpDrCuVR0iaVUkc/89QyWVkQ+oaYwZvIm9t+gZhUC2sWSXY97O2m/btXxyK/L4Cw/OCn7lEt9e2slGPm5etZjXvZHR/MPWd/IvCopq/VqNQYdqZzf9u2AZvVerr/FMOpoj4/C5Ehppjxnq27jcC55Ln4WQq0lH5FmAu4PjnEuLHoPkZY0eaYOWAzZnEMqejCwQL26rtggDiH99IUgZFpIc/bXVpYdTDm8COjAh3l6h4E1EhbuSb0GFsYQriT/kjwL/NdSnvJXU9jVepT6Blohr6WZxRON6JylszGdxSi9SfkUFsexGTvlH1frYIaRXM5Ob1/2D169kW60AwAA" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAC2Sa0jTYRTG5y1nUTSNkmEGZaCpfVFbVsY55kTTzOksp1mb7aLOFZskhhHZUJaiqQSuMLB0mfODUoRCmpc0FcnKjNnFBra8ZZE3KmtZvsf/p9//8LzPOe9z3tgGQXajYSzK/Hwexm6nO3L+fytF6TAwImMsGs6FJDPVx4XnIZtPdS9vIdQFyEmjR5jMIY3v1mLYbyG2RqSAm5j06jd6MISS/mryUYiPlDJeVMjgMV+ndFr94XSuDH2qcVilqNmdKDedZZre/mWwNZCPvcwPrV9TGQf3uWB1YiZjj1EjVoWlMdbOq1DbqmA8YRWh6D3NE7m9EwRi0sRYbNC6WcU4cykOzTNnGPfUL0BTDc2Z2zQH2UI62/tjDop5NMNh3iw095DeeckdJVqqBxRuwNCDpD9yzwXb+6he8rsQdAJilA7CoYkMxvq5bji3S8LYbL6MukHquycwBz9WkU/ErBwlI9TL9X46/ppWU272O2C9QRq1ko8JJ0gTLmiE61y6V4t7M5hiyLNnRy04LZD+T6URSrZQtt22S/DFTjP4ToVDfjz5P+06BvbEZMZKUQWmVZNP/osilF0kH/9nCWjYRNzucAWNHNqF4+5KuOtP+32ZVwDaOiXjvXIf+KyhvgceqMGySGfFUUGwLKX5f3p6AfcmZRWUUwrDA6cZh4apQLJ2r2gPE+iktMfAaj2kNVOesReewHENef5tiYaTqeRjKXFDp/pTjDnXuLg+lTRxKVNQqshi3HZrBobmqddDrz7Y5kf64dcKUJWSZrQuGLN8KIeg+G8w/p3eYcE+xBBX6uX9ioMhorU30NUBnusoT+ckLgY+SmG8sb0NImvXZq74AB3TdFbZZYaycsonT5mBk/2Ufy7vLSosGsbvyv3xH8pmbsC0AwAA" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEAD2Ta0iTYRTHX13lJbOLRjFYWLMbaTRorrmKiudo6TBNK+fcxbk5L++KzTAkwvowmItZHyITVIZNQo0aRLAYkUViEpmEsA+xhJUOTaM0jFVij8+Z26ffDv/nnP+5vMo+GT/gCJ7W/kuDYJchnqO//BwhjIxXMe4IdZPz/RjvMeQTXojxoqbHxJNlRL0iQsKNqPl9Jg6OBJB3DvEkqQz1vCRIHHLUn/KPkeI8PeMW8xrwC201gpU/3ODy6Bd33AqdWHsIjL3VTCNX7IOvfZjne5sYJubUjL2i3dBZWoce/hqh/Zgmprf6TIzF3C4o+YR+NtgTQFaGmkjrVvBtMjPOGJol/TM6xlce7YEnbvSZS/PwgG/TqR/nZvTwWrRIvG9Qr2taJiorxq/O5oJcgfpuwzB5MYxxZzgLbDLk9dTD0alaxvHJx+GSWMX4Z6oSbO+w7qCoCT63Yx7JoBZU47rV+UNkuoHxvZ5kmLiLmkK6r3MXUHPSXwy3E7EvG+2ltxBzZt8oAMEC6ieLNsKtdJytr+s9+baEHtx0v9eKMb+H+l8qLWfcGb4Omk5jdFY8VDVjnoHQZXCkIh/mGuE+VxfL03MA9yvlFojVU8PYtfcVmbRgXSW9n8AvfAuLdvJHv9rjMEnsqIrd28cRLePn1Kcq2lcLXw02Pe5RZ80AjRfnOU9v76wFc+bQuhfVmGcL3Z3gYSXjsbQkSFajJsU5RVymesY77OUwOo+1PlDNtv2VsV7MLtTM0durz8Q53KR3G/qBdzhD49IErFUhSQFpCeZ/Sj1vX9cQ6yv7WQXjReoz70Ft9Ds6CC+n8W0rvZO2O9H50J2G3+L8CxTNYApYGIvorf4Hhv3zdbQDAAA=" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEAEWSXUiTYRTHlyHoEpOWOJKRfW3NKJuRLkX84DkubFhsQTabW5vbGg5rNVoaWZFFedNAMqm0XMwFG9SF7CYoYUkM0RJzG6IXKWZJrS8YtM3s4Tnj7b36cfif8/6f/zk/Dxy0+W7PHy5z7QCR15DBo5+kpgycM6cZ93m/kJJHWOf3mElRMdZzej4RwdZWxr1U8/oGakaFBTASQc4de0hEBPUn4mGyKkd9Ge83iSv0aU0hPHM5zOt5rHst5Rxcx+Z/ABhwG5lGHaiDUiXqqyp3Q6hax3hGLYIVvYVx3ctjsEupZRzqrwb/YxPjvyEpiGPoZ64pRTT2FsZyOufsCmqu2RaJxIt1Ff3X3s9Yn+2VwcQh7HX4xSCU4ltOyXLAI0JuqPxD2mLozfm1Ao52ov7+wiBJvsD65sz9EHmO9SlBNvwwoWc5zUE0rGFcS/1ft2I+t/xOmB1AvWy0BZQhnDM3DcDvOsNYCG+INGrkMn/rwEzuuflQ+BE1YrrHJR3OSdzJh42x/28Zz8feMM0kd6qZ8RODgmzrtDLeQuf/6jjJWJFshawh9LakbofGc4b0Hi+ALA/5wfIVGApbuDnLxejZN58HtcNmxhvozahk+N/x6DRZq0LeyXOTVTv6d9PeQJ+R4/o47rSf3ph6EffSTfM5fhPrWQ0qCL5Cz6VJAWQU4F6a6Y7GbcjfJsuhe0zL5XBXbuBuuNxiTbMZilN4A+22TXCpRsu9JWpCTZDmnF2COVTQ+xF0oUZvL4LAefQfbNoDRy6jf8/Cd+KbsKb3+554JjHn+ngmPA1ivfHiPkgEddytvruKvRLedgiPaNI31gGuRBvjCL3Jf2oO/qW0AwAA" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAEWTW0iUURSFR7tgYiqkKZQ+KJmWlFNmpJEwnNXYpIVjRoqXuehoJmkYg1lBD5ljRCiViGiEkFKOFGY1IMF0kVIqu2JY9mCYTWQXsiyV6u8s+f2fPg5rr73OPvvPuLWutMMxnDIyngib0+KtUb75BiPqAwskZ2v90J1rkoyf1aIywSx5dEcApsOp+b7NC8XHWavpj0FWP/nUyttiqY56Xc8TUaWb8/y8nZ5p9jWwTNlt82Sx+2+Mf7PXf0o/ZkDBWavUfDwdiRQj9dGaCKROkE+0h8LYXSj5SOxO6JNzJe/9lgJ3J8/9e5fBP5J5It2L8dXKWo/iOXSHeSaU/AMD+ZLfPAd21bDvW4Xr4ll7LXcTXOHkppFwRAXQ52rYClj3Ue/tuwURldT0NSbD7KFm6IwWL3dzDk+XLEJfYZHkxnaPmGjKkVxflIk6F33cYXZ4yumjdechdcqkZhvvKJbsankkyjOpabXcF6EPqDHe0GFPLf2vt6Thh4maENwTmCQnJkUjJJS9pmqDMeTi3C5Y9GKshrUXFU9zV7ZkH2Ufmhs4q8sjZRjcTx9D0iFs/sN7NY0dhbnXpvokL2eeauWNHJdss/rfIu61ddbni1h4bi5/Vpl5lvXiYM8cO4Lo41T0Vw7wTYMgoO1n5oevMvChjZkDF8RhIJa1HcOBGMwijz/eCPjwfRtafXG4k339Tr4XM52sTdBUYOYXe73ICMOGkhz1LnY9Z+4ofScMazmHqk+JiN2aJ3lameHdmyZ1B1Y9o39LxHokVBSrOzwZzMxOJdtqO8+7lL3K7MtX/4WAdN7R7ozC6Plsdc7l8SXqPv8D1sptVrQDAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAEWTfUiTURTG1YJkBn2IsUxFLGNWRqNYWBA578EtycbsY5hLndMpzEoRzaWgtmz0h6ALU0s0o7SSSIoKBIlgSVIpqXOZgmylGEppZIyJdX2f9fb+9Xsvz3nuc8+594F2n/mRbVL1Y1FFYXcMQQH8i3KYSRFlFFh2VEHBuiyBrZ1NrM0CLuneST9HoKnulFJuPWp3cX1cL1hyfZqlKLMFjq8aYNFqo1irToKPvUNCyuLyvDWrPwGv/tR0Ngeu0qQ+geYacuBvWkuX0qA3L/CccfCv5ft+LoRnxZ4TFK3RC7zyNo7Su3MFbnZHUfsW6DsM/ezIcfjM1m2nsSnUPm99z3QnkdPE/a0y6IOPaSmjECwlRilD0DyJjKUkH3w0pXtJ0oic3roSYpehv8qzjbzIFHjcLifPMNZTD3uZ8xuy9bqCaKofmetNpyjxNnxqu8sovBL636lZtBQCnhgmWjDmC6xbcrId5f6eyCdZTRc0hp4DZFiE/y91IA2F/Tt7Mivwgjc6tlHyVuz1iWc7M4ac7VzzugC1VrOHeQczBO7qOEvfm6B/6L5A4cXwGdVV0OZl9KRlppIu3swVfe5KkW03n/uXx3kCu+w9LGIUPjf43G12+FTzvb5assWc+U//c18kfDY5brH5Evhf4b0NSURmZa+GimTwj+V3byUBte9caSzeP9P5DwcpRAFu5Ps+a4CnO3Sc+VpNAl/jnhOzWD/Ne6u4rxfP8iYCmnWSPpYfYRTvQNF0pngPZ1pQmy5fTzFVOeIsJMnI1hazn7SqcwIrfKGkHsRZnLplZrtn8L8vKb30oLaUv5HzFej/hgELfdRj7mVzh+gvvSVMhrQDAAA=" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAEWSXUiTcRTGt3RIKYxoMC9aXfTh3EodZJrL0PifFlKrnLXhyH02o7wIk5WJqGQiFkZUlKzAVjjXorAPCEqY1ZD8vBC1WcKwGAhJEGRZo/r3PvPtvXo4PP/fec55T/jD1ppQ++zehe9H6NVD5woJ/5Y66+iZwi3o/d4cumuxC/q1JcQCLdCdWaU0FoEnbNGS9xreOvuesqOD0LQoo77dDkFndMTZCQP8Zz8X0ZY94Dy5PcqCMw2eFIlA+qPJvSH9pyb8Vhr2uwRPS3UqdSf9AaeBHleCP2VS0fFiMEfemaiiuUrQO/Rqsjaivo/nf9sBzj2ngY2kgvPJKCfNAOpWXQat3Ajt53zlevBHOdPcAJ2yahedDmGWR6pNZJ+wCfr9VR3dOuwW9xatgL+15iP7/QK9FLI8kthRvxmYZ1fUbrGvNIHMPXzettrkPlVeetmPXrpwFcm/OpL715JcX438a2ZY9hnwD/EZfwWdomcpdEzQJ3WzLD2Zh8/Fyieh2wKZFDuAec9zfVCCejf3RPJQj1oSbL4E2X4Y7XTZivpPPmP+Kfht3ibKTiCbfOgcTde5RU50HbJ9M8aYqcsjaCW9YdcnwbmUNcBCfnAWjXY2XusQc7qC/3WhDJzVER+74MNc/ZlKqtRj/2ll5ZSrBl/TPMQUOx3L98CGzdALYwXUmI++cf7fn9vALNL3MvM4mN4Hm8kXsyfzxFhBmk2cJbgNnlZ+h4X3MWMT1+a1DnGf8Tt4O81vUmpBr565L8ypxVtNyXaqbgdTz+/T0gXOFN/z3Ibl2xtkOfUuMU96MfZfpq8n70VPcm+l9BdmmIUCtAMAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAEWTe0iTYRTGpxaSWiEjEGFaWRYkQl5XW+vie1qazdXURmC7tXVB8J+5tIZdKKppUmGgjMBLsdWMlKBZhq00KLMxskKkwqKIQSWlWEui3r5nc99fv+/wnOc87/udb8i4ptpz9u22XzlV1HPfGCviT+6smIbE+wRuWrWZvpfpBY5NGGDeu9Bs6VdTqwN8q2odOVsi9QC7/QT8UbWYJBUGgRNPx9MFJTw7jUoqLoDn8JiGVZY1WOL+v4h8fxd4W2KE3is7KNVtEjSz55bQ5EboXbz36R7490hWUu1X8KX9FSSxY1awOYPk71AvtWXTYAN8/HyWRwrNKVcK7e6AZqlvIfUug+Y8P+/1NNRfpBygmmzo4xIUJH2G/GXcM/2eTuBNR+WkqoM+1GwlbRt8QqoJVvMBmdfLVpMjE5pWV5B9SYTmE78fpwL+J6pNZN4OjU9io4kAeK1vL6mno5kPJVsElsnczH4E/u3Lc0naDf2oRkKxHWaBS2QhVr/TGLlz5p5B/p/FMZSfD8/34nGmfg1u55pBDbIV8h3oO6wPZz5I4xXw+c3PaA3n1NmOkbIA/FJrp/Qc05xP5QN4XubnbZxvnssQGDKF9+ohu3g1mm1r2uC8CL/JRW/yYyfrq0PmM5+zKNWAPPElu+j5D9SnVHr2pxT6JIeFScvBpt48smdhlrU7k45bMKt/7CR7ZQDf4Xu7oQicJ5pio0XRexhJQm9bZwJlODFLxb97kw+aLr6H03L0NvJsGQrwI62H3VwE/Td/IQ1fQ+YZfucD4cwrRJ2s9gZ8RvhOBusxy8ZzTs7qwt+unsr90Hv5v/APvi8lGagDAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAPNZaZ6zuuOux73k40535yYxMQDBwqTjTievJILZi4Ds0FVJcHaOFER8CZC9RCcFzJ4PZD8vRqixuA5hLwayOUMQ6jssU+DmB7glgNkLgOzdUkVpzCAOw4H/5x4vYASxjgDFU5Ymw818shLhnvtvo+HmzAnOhItPt42Fswt3pILZc4HswNtJcDeYhyDU7BBIh7tz1at4uPjS7+rsMPaGI/FwNZGFiXB7La0RYbX3eCJcTZE5gm3zLAOuJk85Em5+QPJxFhg78ko8PBx+vsyGq78/BeHmoDCE2/o50uHql3qnwMWZPyPUd4skw9W8/hsJZ1cHZMPV/w2OgKuPnYMw52X7EbjbZjBkwvUu0k6Aq9FnfMcNY186GYcIHyS3FSXEwsVjN2TA04l/LiKdhEcjwop5eQxcnCsaoaY3NQuu5tynOLj54poxcHZ6L0TNUiA7SwWRxh59QKQTU3aEXaaBSXC9EmzZcLbu1ii4vay9p+Dh0DchGa73+YkIuJrU67lw8wFCM4CMSAMAAA==" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEAEWTSyhEYRiGDUpNpCQbaXZIEgslueQVkaGZ45jcMs5lxnXGJeWWnExiFAv2LFgIk+WQ0pBQyi3JxrBSxMLKRlHT+b7/rJ7e3t7//b7/P6c/uYO7i891ccY8TvfV+LjY14fENN3kFvikbpNlTIfJo8C+QizBt0XsRA17HEjvUUz2oLpUZ/9jIWU2YvzC8CbEOPJnq1+1xNCYQ2RPMz1urJeRfwIzHZSv4yzJ9BgreE0jPYDPSuIhOFTKacXJEvUZRMhFnn7cf5M+jHO3xp39BaSPYdMj+gSKRIfMIPEorDJ52pF9Tp3bUGwlvRM3doV3OH+lcv5Buci5Gyaexodb5T5jQZ1nSVqgfA2HywqfpYe8zDfN4o7eUj0muxDNI78T8gNxE9qcGneLvJM+iwGryvsv6DXZMFCRJXqGUlTOL/4lllF1SJkO1J4JnuR30oiULjrLDv+1wvpltcrd0CJ2O/dCnn5EvRr7LRLpDXji2bthyxd91iw6zz76Je7ImkGeZmRHRbfwAmX6EFgT+5c/yDOF0imVPTk2kSNdif9l5Fbh/kdhjTts75AuwR8kfQauElM3NpB8LN7GP7DIIqm0AwAA" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEAEWSP0hbURjFExWEUBFCcRHJplJE2kEoYpUe/yUxWo1RtEHz3stLaq0J8U8RFSEYJGZoB91d7FDaho5RBElFVBC0FREX006Fhjo4uQgVbM533/TjcN75znfv3b2pnfi8cum0WKax+9Uostx//SixmwXuRcSrCS9k6OmD5z25C5EPZDfaM4ofvtIL7EVrIzO7cf6YmS7MHsTDxfec/edwrVr/63PIfglKn/Um+gNY9DN/EHul9LzFLzv1cfxtIevoNYLS+VuMfQaQjtFj4PRaF94PBGVWtJ66iY0QdT8ST9S/lSk1y+ZTs6r3Ndm9wab0Ew8zX2L5iP+GsPlM8Y+Y2iUfII9gJmVKTmlSE33rnS66mQ6rWf3qjn6Xh0TPPaK/B74zshPDfezpQfYP9Vm8sTEngvox8ms0V5GnkC4jd6Ph1pD851vMdKNjT/GcvBMnykY5qwPRY9XnsJWeTmBAvYeln/T4kQtTb4fVS70NF7L7CzjqDNlrzWpK/tSVJj1tFcpTnTMkM5NkpobEmjp/X56eMTTOk4dQ41Bn7pX79WPyu3p72xl2duHjJ1380VRQMgefFvR4Ag92DOlwBx5DFMC0AwAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAE2SPUhbcRTFowYDD11C6VayaQcRF6mE1uIJ2kQTzZcpavPx/u8ZLa0hQqFUEQIi6mAG3V0sbWkbhC4xCJKKVEFo2tKKg0pHlS5OHRQU9N17fdPh8OPce8/7b/6///LT3KHXZhvB5qqqtl1/MdidpqX7MRZOWTqEySIxCfjzpAMYe0u6F53M+HFnRLd0EB63yf5eC2V24/V2Ll1zrcuXLt9i1Y2vo/zZsJinWH6Y4rlTQ4r9LQcx4/jrJF/Hv8ekFYKKmCi+ZnW+q5AlxsCvM/KT+JYk/hkyzTrPXRkmfwj2L+TH0VtrMPM+oHjWn+/ERNCqGTy34id/ADO7svPaI+n2J+9m4jSpeJ9X8ybnO2ZTvE9pQe4yC2lmKhHF/R9XD1s6jIMHxPch+lvnfzEQoj0DKJ/IjS806ap5VLptvyd7FuplVuuF4vyOEmX60bVFugdv+J34UJ+gWU+Q4d582PEIg36DMwfXiEmhNm8wUxWWnP1bt7uaZB/tndx47iU+BO2uvOGGI8U5xVl5A9NLJncYPSUmDfcE6edodElOmP/vIMZ/yKz1onTy4aPOOjNvcLexNsvP5VC3QTlxXAHtL/xMtAMAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAEWSTShscRjGBxM1sZlkJztZyMdCJK48uhoMxnz4uD5mzv8cRpcZIwpJKQkLFuxtSLfLpGyG1G2uJtQt170hC6RsLtlYWbhFcd73Paunp9953+f//P8Hz3mDm/PXDoslgoNtlWx5/9phtRum9iHkDpjai8kYMR44l0g3IbQu+jMzzcgMajynptxg5qKIZjoxdjTdl/Ku4685dctJH34Q8S3dZDqwWkF8AFOdkjORRsw4bu3kR/BYRdqAS+nM/4xoPDMaIUbH3yfyh3DoJ74b4QKN9671kt8F6w75fiRSdGaKXZLt/ETjrgrvFO89H9GYmf1FvsJuJekg/nC2fjz4Fe8aXaAOW5E2F2B/b1F6NqJ9zPz20L8t+Jfca2o3rkqJd8F7RroBHS10lkbE78n/igGbYl3QL91+yhY/mkHai5L/indV79HMZtQmRE/wO3Eio4d21SHMvdXjuEYY+HTO/GVX7iV1iXwHktwy59IjbzUnX96kbUMyvDg07seWJZlzbxTPic3JrpkVg2d6H+Su0xtJt8HnVJzTzffrw/CpdL4fowxN+PZdYx1eID+E1jLTn55F+g/FGd4AjLF1VrQDAAA=" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAEVSTUjTcRjebASOdgnxJkIH6RCjUx/iV484Nt3U/d2yNXH/j82P2MbyUibCQETz4CGJbl0SkVImHprgZZPIQGgqFR00PIZE0CE6eFBY/+f9/U4PD8/7vM/z8tv5dz39bv7Y73BksFMwaxzVNwjX1aSNw8houo37MVWkJorgInEImWXiILqKCteNGuLT2UzPAL7dpKcfT3bzI5equHTeGHjh/M9nUFqzbE0Mr1uon8B0XOV8f0Kcx++7xE/xq504iX6TPgMo5wzJv56jZgyHf8ib+JigXkfWS97AmxT5OFyb5BN45rRkdkqjZwRfP1OjYeilKXdYLZN/gNk9lWGrVWU+kGwTOE2YsmtNT0qXSkEX/mhBed7bGBFcGeBsL37WpCTb0W3q+xD5QtyDWJhdhnFN8o+itok+WXjHiMfR1qByrntM6dvxV/W9VaJnEL4PluyalH8SgGeYu/zIyt4APnVS4wOilmR+uEVNCpcXLZl1auS78F26x9F4w5RZ94rKc+Y35J7uevWfm36Y4lOcoyaNmaWk3DBySk0MV0LEQ4gG1R20PfVXH+/TpxfbRWboxupbQ/Jkn5N/hPt3bD6/BM8r5X8BShU3w7QDAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAEWSSyhEcRTGx1AymY1kJ2WBhWTnkUd9Ew1mGPPyZu5/xnhkxoxokpRIDQuJZGdD8kxZoGyQPFJDQhbULCWUDQuJ4p7zv6tfX9/9zrnfuUefWT3r4UejRhPC0ZbQav6eTsQleVS2w2d1MQ/tkscB0xRxLXxLxDUoY081kjsUld0wFFKmCXe5lFmF0OmIN/aPD37SKmZi/nUPDjbcqqcFC0XkFxhuEsw7UZVHwngrID2Al1JiHyyCcpw4DNA+XdgMCObrd9IVnLSR3wN/Dum9WGwnvRVx2/K7zl8ppw/ZXuIG3EYU5uY50uuxcqjwd41fCM7ZK5b7fFQSD6DbKXif+GnqsA6XWy7e+WNU4btk7nn5Xpc2eaMnbbvKVjzkkb8a9hviGjTUupnTI7KThAzK6UdOp9yzJFVwP5t6wXN73uRc3anMLD9289xB/k/M0LfSLBP8EclnBvJUAQ5614ZpA3lcuNLK/yrGSnol7m2y27Rswe/qlinHgi+jwn3qUgT3870q50b35ayxWQ/3bH8mTyMSzfLuDpPMsV7IuwevFN5hf1fusLKmcFf+CdK74cwnfRL6ecoJ4hfWv2O9tAMAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAEWSP0ibURTFjQ0Uq1lE3CTQQQVFOqpUCyeL+Vc1MdFg1XzfF6OUmKZFsSUtBP+ALhJ0UBdBulStFRxUcKgK/kMwIra4CE4dpAouOhUL8Tv3venH4bx7z73v7dyXx5bGLhpyUiPYWdFzc7KnDdbCiMnN6POFTW5Ecp0eHzwTZA9W23et5KIezdT9cNSyjhu/X7COE4P7qeiTLG892J2Tlkf9E7a+G6anA3Mv6Y/gSzt7hbB2aXJqCDc11Pvw9xW5F026IRm2E5rMtZygpwent9S7sddFfxjxKuoGvnZTfwPrKnUdh9e63K2M6rKrX8ea7Mdw67K3+XxyJ0aPyO+wUUeO485F/oi3QV16PU1HZJbMSlhy3g2xVxBlG1GTA8j4VZ6K64jkmfVqkqfljOxBqNkQ/3PJH0NeKet8QFUvd55CfQn1z1i2qf8w8Ef1tWQMqf8zuSd/w9bJ+m7Ej1WGAwfvuoAA74aQdmgy70kuZ3HC4qPegHOZNwB7Jfk1fsyoDK1B9S7Piulpwr8FXepcbtKjYXhK7a3lSr1dgVf9w4BHzeuTN23F+xNN9M11ZvDi26Im2eLj1PsRrKY+Ats06xj4D6L4loWcAwAA" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAEWRbUiTURiG35kZ1oyYw7Rci8FKUFcNhNaHnTutVirknJOyj+3VVow2SghKEYYRffyQQZFpJGaKmqVR0KRBDGlhWJvkiv6kC0ZCNUEKCyv62HPebb8unvc697nPs9HveScHL703OjQOjA6LKcK/X6D1K0tV1MdZcMeY02SNc317jDV5yRljM6y8lVhYK8DZI3InzHZxR7yohfK4Lc6PrqehZAvPdOTi7UbK9CDIDLNN9kXxD/4/hzVtsv/0IbgK/nt1cac7rEbnNvK7A0VorqX8nsIZ9jhC/Lm+CrMGqU8OvuyQuBn7RcoRrGnYu8eW6KztIOdQbSlez9HcE11gz4+S37FCDpeO5sreLNw5RvPSvk1Ifchz/Hl4EZPu0qPATtyg+MbeBLkTyUddGXdYLm4vI258asSFcWLlzwaMbOeO24z5fZz9B+GwELc4nFjioR1GKzUIDdNOHgzqMd9Cd02tVGH9iJ3mk3MsVMVzhCzkx+js2e5J1l5BfvarPJjDxM3TchyopDfm2Iug4f2vqPqQvk7KMUJ3ItmzWCUm3ng/g/iXbYad+cjnXVrIQnz/wgLb/YzYMPeDnfNKOenIOEJ39Zh8zCXtzQ+MlST3trOazvYv3wBPCTmNnZmYSKF3KW+ugczEz7IivKtK5qsLpP+oDEM3pD5jrMbCfbcGS7O4Y1Xj9wCx7kkxIj5yotNanL9KdwV0apg/keO8tRjyCjHRubqcONOngGlc6rAVpydsiR36vNQhu1CP/rs07x1aDddlmk9dq4FlM/e7TiGjjXL0L2PsLxB+gOa0AwAA" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEADWSX0jTURTHN11zlWaICwxkMUiNTKJeWrn63lamNqWWLiSt5nRb4QZC/0cQRlQ+1CCaGTPIDM2yUZST9GGTzIXUzOyPkrUeGkPaqGVaRpj9zt19+nD4nu/53nNv/0xO3d0LE4VT8nz0u6sTRPOnceIFJGk1AovgglV3UODKdw7YPaSJbvNBe4lYdGYTrG2cRU5s55qPXQ1INxsEhtQPzUby7Lacwtu15On8YoUqajclCr3euSplk/g/tRRPwnvPKGhk5yO4kU96SZ+Cnd5H/icGxtEd5Jlb5Cyq4hlWiNjXLZxhZruqjTybG0U7KM9QRSJbeZ00a6oK2ch3qlfXK9izA6R/FG6HLY/qs+owbtVSPdsyBslDqrfJM9jzSHxvc8g1Ea+XJbE3L0lTOCJlxp1UT/8Tw83FxJVNUZwbiudXsx41z+ztwHQxcU1zKw7riU19g0hy0A7HnlxFwE07mVnuxnQDzcpqdyG7xySwveATAnuo1z//jqsj1HtEOYjmEtJ36lpRNkqcOfUYFbvju/oMJc/v6EhlC7Pibx1BnoV4KObD5kzigSUudKUQt79qxdEQ1wfTmDhAns5aAwqeEheFvDjpiXtakbKfZjVmWmHjc1eFB+HX8PylVmwtp97ONBccGtKs0zoxnED3Uj2IQazjvTkuvOd3l+mlTJFLPH47md2/Rj7HlVK2V2/g953FomV81vz/+XuH/7EFbgR7SaP5NY6zV2hWVBJB2SRpgkt/I7mE+Oe31yjXEjt/+KDj75sRSmX1w+RzyNaLXg/fMxJZRyfVP9SNwnYxXjcz/QaeDaUspYl8so5dxj+23/UptAMAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAD2Ta0jTURjG52aUlYpRgyKprJXRWs0ivNV5jlJq6ap5ySjNXVqhTSgKSjNIKcooB9G8pLKhH9QugkQTB2UjamJuQ0z84GUEGQ0VgrSSosvek/9PPx6e85znPef8Xd9izz26NZZukHUxV6deKvn7VUfHIHSFMcgSSRkza4uCfNFkQLmDPOuT0ljmPb3wyJm5ldjS5Gf7hcdyzcpWntEFeUPGJqQmUubWDxNseCdlSnf3sYSZcpMsmNP7uyCmNuQfbQ/ko/exIeiZHa9BczL5KwfcqDhB+aNKD577ReeCSD6T8L+PFVOMePVkLD+ipxzNlB0ZadTHWJcORQN5WtfK+OAX0nUjn/DmFPnHChNRqiJdeacdLadJx/c2hHaRPursQd+0mPdVDZQm4gmfE+895Fkj2wHDIdIjhu2wLyN+obqKG/3EbpuCd+8lvqCZwdxB4sZdbhTnEUfND2Cxhc5QXVwNbyedyWGvE3OVtFdRiR5buk1BTlSXwJst8uPk2DZtFHf0g9Vnibn6dcgZIu6wrcLxozSj9aMZMaL/17I0HrZ54a656ixxk2Ye+6KJB6Oq8CSc+OXdRlyaJB6ryUaI1yDWdrIDrw3i/fjZFYd+QQ8vpL2aWx6wUrFvzxI13Kmif1cYUnJpbd9GMyypoltFMnxSmutd3EOEaEnP96kwImaXQMbXKYlP3ozkT+tEB5kOx/J0C29mqZw8VoULv9qJPcYk+J3kmW2I4FX3xX8BD3IC5NnzeRFfnkWsmnMhN5NYO/4MWnG/kt5Ift5HOdcDb+F0UIef9iG0dZBuy7iM0tvirIrieV686IYqHl5LOboUD/4AjENQAbQDAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAD2TbUiTYRSG36klmuuHRmAaxsAUtFkQmKa+5yTVTI1cOrXMj800xI36EZVaiSFlidnXNFPzI8ilJRioIIEOM0OcUmaWCetHGpJCLcwQ6WP3U++vi5v73M85z3Ne64/gwvYrM5pJk5KtnXoX6c83bFOTm3eukyVJIxu12U5W1IVRcQ88UuluSqgCR3p8lI0PwOkFZtorPCXly/KG/BwnD4ZYKDYSmek2szy5HZnq8BU5YrE4z9UZ2v/rmKpG8Zemm95Sf4fB6fmgGaDGKPjTHAf5/FHke1cGcrcdPBWXyosRYHVRAH+RRZ9NJ/mQXuQUj1Lc/hwxl5kC6+BJOXOEX32FPrpmEw9lwb/cOUAmNfTQa1ZqPQ7d0zxLbl3QWzNU/HIBOT5+rhyaB17p9uc3NnjIx0qGeOgxBi9uXgf+Hv2ZykfAQUt+3BsterZ789IBwTRHBTrxLk1e7F6NO7yoqaexTtzJdIY/L5XhrJLXzyioN8/JOzpmaOwwauvJQSELqNVfduG7ifAvzrVQ8gR4XhtF6UmY0TerjVSi/6ur4eyxVfSTncTqE+CRb+8pZjP4edV1eqwUfXap6PQsOHdbMynGDP93ad8geL79LJ0Te5K5U0PKTJxV3fBTNolzKyuNNBz7b99UtCcFteqoIqqOhefCvRwad8FcQ7anpNBCN94opCkxuySFcUAo2JLty09qkaO3DlCqDv6I/GHy3Ch6fuegVQt4/UgZ2fvgGdet5Uu3xH+xJZ6T5+G5GXyHvBJFfryFUhJEzkMHacX7VpgkPjWOnNuTL6ivBz2YP01Q2yPojbX9ZKqAnqbXsW6X2NXSFlbWIMf9vp1+A1D7KIS0AwAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAD2SXUjTYRTG5xRkNhtUi0mUMZgTEidSNmPpOWluldN0H1HhmpsuyTYKKr+QhqZoSQ2iWYa2oRf2oRMJFXazJHUSbGIpGSSrixaRwxAslD533vW/+nF43uc853/O5Pf0i0873qsqKtQ46TFxOX+/qvAwJGyrijIHWsFabozyYs8HaBonDYfTCMW3ibOLnWAdIPbbO+Eo00RmHsKO85VR3rO/HwoOkadA0QiLWeTZW+KB3EiTJT7q6ftdIe6O+0cNdTnoe2aOanwrEuxTkD5SX4vNZ8m/40AejoWIpUUjGMkldq668Gs+y7nXjidNZjZLGI4pKQ/HzkNJD2muTxhx/hvVTT/kOH2O6Y1CtGVSvaFvO/ZXUz291IwJo1RPEqhwdoV8TEo5ZliIpyYrcSFAmqmwEM0nWJ5QIbq3EN/6uAltr4g//2rDicPEsrUzuH6cOKW9DC/oibtKrZjoYHvxCTDoMTJGXG+hXi27FkA6YYny9FY3BDVspyl+2LdCb+vF9+CBmvQGkQ60b4irRAo4XUYz+n2DIGb5EwcKkZfG8rsuYWYNY7sV83bHWItDycQ3Spxw9RPx2EEvxAXJ01G9kV/0knjktRsa/t+SCpINrNcjIdhYX+PsC/AXkMbwXAtHdPQ27doaOApII+sKwByX5pLWLEFcOdsvBOCtJnYDzZiaQezlNuLwffKpM/HxlD6mj8eknbF/tQE/HxPXts9AyEuaKyjD1rvU62avErVfSJOT9Q74auLl5WzUFROPalKxnO3X75Lg5TnysSwJ0DtOGXQOxMEnVBcN8dHWyW7Pdwf1cpZtdR6Tu8lnM8DDP8ZoL9K0AwAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAD2TfUiTURjFXzchLA2TDKykkHJhwxIp0vw4T6J9Oak1rZTS6VpizqgsEkuGUqmFrg80Pwhb/aFmDUSmYn9MCVlITkJFqMCISkSNlFwsymzPfXv/+nE495z73HvfAfe2wmeVHw64am7TgC1XIS1/4Vdq4Rtk8LJk9oNJm+Plus9hKO1mjyQ5E1NrBKMCpqfMzk4dkoXnnqYca8/qvYxpHZJiOTM6IRjjO3NEjicxZq7UqPSyY+lUWL3PP4rMTiZHR57XkxLxDo/i2F8cHUjXs0SvahT2SebABxtoLkbok0E0kyjYvJeO5OaJLhsO7uf9SI5WbG1kT/45orffWfckWDCYzf5PdwdRFMl6RLUdT86wXjC4hnw79f+7Xs+Krs0hpDYyz7dINDbMnhOKj8g7zHq6ZQGPVzHf/PMSN4aY0zpuUU+8nNNAi4eYv2VVUkEGczJaaIWFz/CaZgwuG59JVvEuWiznrimlDaoeo5fjorrgOibfUTO2z/La8N1WNGjYb3c3QTfKbAipw8mjPKN7vQ1hYv+S2Up+4SLHUk+R+YIdlyghVD7nKnoewGzs9afLX5hXlzXBx8WZBlUFUl4xn9e3okS8k/ZfbxBwmrucy2+pSPSmFSrJmSTnW7EvndeqhzywJLHnZ/wURhQ810TbFvLRst7r7sKEmF1NStqkZi67uoAXDzmnOtSK4xnsb472YOU69gxdHMbvNuYf4/OY7GNP1J2NVHFf/i9moZtmT0ewmfw1zO9LmpGeKnI6+6AV97sj8ysujMhvrxZ93byHpViJWtvF7I5+FFWxPuNroow9sj+TAuo5x9Jfi7/suDp+tAMAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAC2Sa0iTYRiG1Y02l0PS5Q/DCjMzFRGy0sp6HpeHUkmXm4fIw7TZwUMRFSGVZKVRiuQ5Sho2qaUbBamllYnkYdlGJ4oQFA9BzROE9aeTu7/v1/XdXO/9vO/7fX0/AwoeVIzGiSa8uc+sdXH6/5hkt0jskefgdmMaFaqyHfziQi2VdMLJziumhCrw50vHqPAueLy0nKIFZ4uykhT5OQ6+IjGQchs6y20n6WMoOndn5VDEbIlOtPTi1Pv3oG+D8xIZWiTc25brcH5NzlPzDvjigiA+dwD9oa0i7hgDd+gTeDYCXKXwY/susHghk5O06OmYHqY9sdjPncBhWn8TzlOPKH67gJxUEn6VBT88a4SKQpDXbZ+ilkPIRWHuLH6EfOtKbx6aEWZ5yjlYB15lcucPb+CM6u2UG4+8LU7K+uXggfE5umwBa+pTuSsS3J2+mRf3ghUafz6qAfsMRbKkGnfoZ3hHVjPupO22ghcvYlat8SVt6NLhu8w9J+t+rJWe76GgGaxNUZqoKRF+vqydUt6DPdbdoPRknLF5o4V8hf1LS3Xs6o8etSGeQw6D0yYDeacPOHZoBbfLhXzfQzo1DQ4ZGCFnKzrLdEkU0w+uedZMZ4X/5E/jdZJnYpbqezwVCXP9qmw0qIQTYK6kKDXWjmVYqVoJJ23qMdlccK7VMfPkrEL+OuoJfRLOvunIWl4TDNb3BLCpET1hX4cpVSPMMs+RzAvOoP0H/b4PLp6w0Fg3nOl0Ty6rwazTWi9O+QbnTKuM3RLBXcmLpE4AN+XYSSV8X0WJJ5+woUd73E7dndiDq9GN7xmR90d/oaKryJdl5LEmHLmm7hrLG9BTQSP0D0fVfwa0AwAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="312" />
    <add key="treeView.Columns.Value.Width" value="125" />
    <add key="treeView.Columns.Min.Width" value="125" />
    <add key="treeView.Columns.Max.Width" value="125" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>